body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: whitesmoke;
}

#graph {
  width: 80%;
  height: 85%;
  margin: 0 auto;
  background: #0000ff;
  position: relative;
}

.game-title {
  width: 80%;
  margin: 0.5em auto;
}

#hero {
  width: 4em;
  height: 4em;
  color: #000000;
  background: #ff0000;

  position: absolute;
  z-index: 10;
}

#dragon {
  width: 6em;
  height: 6em;
  color: #ffffff;
  background: #000000;

  position: absolute;
  right: 0px;
  top: 40%;
}

#fight-scene {
  width: 90%;
  height: 90%;
  background: #00ff00;
  z-index: 50;

  /* center vertically and horizontally */
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

$fight-menu-height: 24/100;
$fight-height: 1 - $fight-menu-height;

.fight-hero {
  width: 50%;
  height: percentage($fight-height);

  background: #ffffff;

  display: inline-block;

  img {
    width: 100%;
    height: 100%;
  }
}

.fight-robot {
  width: 50%;
  height: percentage($fight-height);

  background: #ffffff;

  display: inline-block;

  img {
    width: 100%;
    height: 100%;
  }
}

#fight-menu {
  height: percentage($fight-menu-height);
  width: 100%;

  background: purple;
  position: absolute;
  bottom: 0px;
}

#fight-menu::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.hero-avatar {
  height: 5em;
  width: 5em;
  background: red;
  margin-left: 0.5em;

  display: inline-block;
  vertical-align: middle;
}

.hero-state {
  width: 5em;
  margin: 0px;
  padding: 0px;
  margin-left: 0.8em;

  list-style: none;
  font-size: 0.7em;
  color: #ffffff;

  display: inline-block;
  vertical-align: middle;
}

.vertical-line {
  border-right: 1px solid #ffffff;
  padding-right: 1.5em;
}

.hero-ability {
  margin-left: 1em;

  display: inline-block;
  vertical-align: middle;
}

.hero-ability-btn {
  height: 2.5em;
  width: 8em;
  margin: 0.2em;
  font-size: 0.8em;
}

.fight-description {
  margin-left: 1em;
  color: #ffffff;

  display: inline-block;
  vertical-align: top;
}
